@import './colors';

.pg-add-form {
    padding: 10px;

    & > .pg-add-input {
        display: block;
        width: 100%;
        
        &:not(:last-child) {
            margin: 0 0 1rem 0;
        }

        & > .MuiInputBase-root {
            width: inherit;
        }
    }
}

.pg-add-submit-button {
    width: 100%;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    background-color: $app-dark-color;
    color: $app-light-color;
    font-size: 15px;
    cursor: pointer;

    &:disabled {
        background-color: $app-light-color;
        color: $app-conttent-background-color;
        cursor: default;
    }
}

.pg-add-button-container {
    width: 100%;
    display: flex;
    margin: 2rem 0 0 0;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .pg-add-submit-button {
        width: 200px;
        margin: 0 auto;
    }

    .pg-add-form {
        padding: 10px;
    
        & > .pg-add-input {
            display: inline-flex;
            width: 200px;
            margin: 0 0 1rem 0;
            
            &:not(:last-child) {
                margin: 0 4rem 1rem 0;
            }
        }
    }
}