@import '../../styles/colors';

.pg-app-header {
    background-image: linear-gradient(315deg, $app-dark-color 0%, $app-light-color 74%);
    padding: 10px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;

    & .app-header-menu-button:hover {
        background-color: rgba($color: $app-light-color, $alpha: 0.2)
    }

    & .app-header-menu {
        fill: $app-light-color;
    }
}

.pg-app-logo {
    width: 50px;
    height: 50px;
}